body {
    background-color: rgb(34, 34, 34);
    color: rgb(231, 231, 231);
}

.titlebar {
    background: transparent;
}

.goHome {
    padding: 10px;
}

.blogTitle {
    padding: 50px;
    background-color: rgb(54, 54, 54);
    color: rgb(241, 241, 241);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0),  0 6px 20px 0 rgb(0, 0, 0);
}

a {
    font-style: none;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(58, 99, 126)
}

.card-title {
    margin-top: 20px;
}

.blogRow {
    margin: 10px;
    margin-top: 20px;
}

.blogCard {
    margin: -5px;
    margin-bottom: 20px;
}

.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(148, 148, 148),  0 6px 20px 0 rgb(148, 148, 148);
}