html {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background-color: rgb(29, 29, 29);
    color: rgb(231, 231, 231);
}

.titlebar {
    background: transparent;
    margin-bottom: 30px;
    display: block;
}

a.goHome {
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: rgb(27, 27, 27);
    border-color: transparent;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0),  0 6px 20px 0 rgb(0, 0, 0);
}

.blogTitle {
    font-family: 'IBM Plex Mono', monospace;
    padding: 50px;
    background-color: rgb(36, 36, 36);
    color: rgb(241, 241, 241);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0),  0 6px 20px 0 rgb(0, 0, 0);
}

a {
    font-style: none;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(182, 182, 182)
}

.card-title {
    margin-top: 20px;
}

.blogRow {
    margin: 10px;
    margin-top: 20px;
}

.blogCard {
    margin: -5px;
    margin-bottom: 20px;
}

.card {
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0),  0 6px 20px 0 rgb(0, 0, 0);
    background: rgb(36, 36, 36);
    border-color: transparent;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 18;
}