html {
    font-family: 'IBM Plex Mono', monospace;
    color: #EEEEEE;
    overflow-x: hidden
}

body {
    background-color: rgb(34, 34, 34);
    justify-content: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}