body {
    background-image: url("images/moose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
div.nav {
    width: max-content;
    padding: 10px;
    margin: 10px;
}

li.nav {
    margin: 0px 10px 0px 10px;
}

a:hover {
    color: #FFD369;
}

div.content {
    margin-left: 18%;
    position: absolute;
    display: block;
    justify-content: center;
}

div.title {
    display: block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: #EEEEEE;
}

div.title h1{
    display: inline-block;
    width: auto;
    font-family: 'Kaushan Script', cursive;
    margin-top: 14vh;
    font-size: 93px;
    color: #EEEEEE;
}

p {
    margin-top: 4vh;
    font-size: 30px;
    margin-bottom: 15px;
}

.welcome {
    font-family: 'Neucha', cursive;
    font-size: 30px;
    margin-bottom: 0px;
    color: #FFD369;
}

div.Links {
    display: block;
    margin: 0 auto;
    width: max-content;
    justify-content: center;
    
}

ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

a {
    display: block;
    width: auto;
    font-size: 20px;
    text-decoration: none;
    color: #EEEEEE;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    width: auto;

    padding: 0px 10px 0px 10px;

}

div.Links ul li a img:hover {
    -webkit-filter: brightness(70%);
}

.background {
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
    left: 0;
}

.footer {
    width: max-content;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    text-align: center;
    font-size: 10px;
}