.blog-container {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    align-items: normal;
    text-align: left;
    font-size: calc(10px + 1.5vmin);
}

@media only screen and (max-width: 600px) {
    .blog-header {
        display: flex;
        padding: 10vmin;
        background-color: rgb(166, 237, 252);
        position: relative;
    }

    .blog-header-content {
        margin: 0 auto;
    }

    .profile-picture-blog {
        height: calc(10px + 20vmin);
        float: left;
        margin: 0 2vmin 0 0;
        border-radius: 100%;
    }

    .title-div {
        width: fit-content;
        align-content: center;
    }

    h1.blog-title {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
        font-style: normal;
        margin-top: 3vmin;
        font-size: calc(10px + 5vmin);
    }

    h2.blog-subtitle {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 1vmin;
        font-size: calc(10px + 2vmin);
        color: rgb(87, 87, 87);
    }

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        align-items: center;
        background: linear-gradient(
            180deg,
            rgb(255, 255, 255) 0%,
            rgba(200, 200, 200, 0) 100%
        );
        z-index: 999;
    }

    .my-button {
        color: rgb(0, 0, 0);
        border-radius: 100vmin;
        padding: 2vmin 3vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(241, 241, 241);
        font-size: calc(8px + 2vmin);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        margin: auto;
    }

    div.indicators-top {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        text-align: center;
        margin: 3vmin 0 0.5vmin;
    }

    div.indicators-bottom {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        text-align: center;
        margin: 0.5vmin 0 3vmin;
    }

    .blog-images {
        object-fit: cover;
        overflow: hidden;
        height: 70vmin;
        max-width: 100%;
        border-radius: 3vmin;
        filter: brightness(70%);
    }

    .blog-cards {
        border-color: rgb(231, 231, 231);
        border-radius: 2.5vmin;
        background-color: #ffffff;
        color: black;
        margin: 2vmin 0;
        min-width: 350px;
        max-width: 500px;
        text-align: left;
        box-shadow: 0 0px 30px 1px rgb(211, 211, 211);
    }

    .content-container {
        margin: 0 auto;
        width: fit-content;
    }

    .blog-title {
        font-size: calc(8px + 4vmin);
    }

    .date-wrote {
        font-size: calc(8px + 2vmin);
        color: rgb(82, 82, 82);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }

    .about-blog-desc {
        margin: 0 0 1.8vmin;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: calc(8px + 1.8vmin);
    }

    .blog-buttons {
        margin: 3vmin auto auto;
        float: right;
    }
}

@media only screen and (min-width: 600px) {
    .blog-header {
        display: flex;
        padding: 5vmin;
        background-color: rgb(166, 237, 252);
        position: relative;
    }

    .blog-header-content {
        margin: 0 auto;
    }

    .profile-picture-blog {
        height: calc(10px + 10vmin);
        float: left;
        margin: 0 2vmin 0 0;
        border-radius: 100%;
    }

    .title-div {
        width: fit-content;
        align-content: center;
    }

    h1.blog-title {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        margin-top: 1vmin;
        font-size: calc(10px + 2.5vmin);
    }

    h2.blog-subtitle {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1vmin;
        font-size: calc(10px + 1.5vmin);
    }

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        align-items: center;
        background: linear-gradient(
            180deg,
            rgb(255, 255, 255) 0%,
            rgba(200, 200, 200, 0) 100%
        );
        z-index: 999;
    }

    .my-button {
        color: rgb(0, 0, 0);
        border-radius: 100vmin;
        padding: 1vmin 2.5vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(241, 241, 241);
        font-size: calc(8px + 1.2vmin);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        margin: auto;
    }

    .my-button:hover {
        background-color: rgb(212, 250, 255);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        transform: scale(1.08);
    }

    div.indicators-top {
        font-size: calc(8px + 1.2vmin);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        text-align: center;
        margin: 3vmin 0 0.5vmin;
    }

    div.indicators-bottom {
        font-size: calc(8px + 1.2vmin);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        text-align: center;
        margin: 0.5vmin 0 3vmin;
    }

    .blog-images {
        object-fit: cover;
        overflow: hidden;
        height: 35vmin;
        min-width: 400px;
        max-width: 100%;
        border-radius: 2.5vmin;
        filter: brightness(70%);
    }

    .blog-cards {
        border-color: rgb(231, 231, 231);
        border-radius: 3vmin;
        background-color: #ffffff;
        color: black;
        margin: 2vmin 0;
        min-width: 400px;
        max-width: 500px;
        text-align: left;
        box-shadow: 0 0px 30px 1px rgb(211, 211, 211);
    }

    .blog-cards:hover {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        transform: scale(1.03);
    }

    a {
        text-decoration: none;
        color: rgb(89, 122, 168);
    }

    .content-container {
        margin: 0 auto;
        width: fit-content;
    }

    .blog-title {
        font-size: calc(8px + 2vmin);
    }

    .date-wrote {
        font-size: calc(8px + 1.1vmin);
    }

    .about-blog-desc {
        margin: 0 0 1.5vmin;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }
}

p.highlight-color {
    color: rgb(49, 97, 106);
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .blog-header {
        background-color: rgb(8, 8, 8);
    }

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        align-items: center;
        background: linear-gradient(
            180deg,
            rgb(8, 8, 8) 0%,
            rgba(200, 200, 200, 0) 100%
        );
        z-index: 999;
    }

    .my-button {
        color: white;
        background-color: rgb(60, 60, 60);
    }

    .my-button:hover {
        background-color: rgb(72, 72, 72);
    }

    .blog-images {
        filter: brightness(50%);
    }

    .blog-cards {
        border-color: rgba(231, 231, 231, 0);
        border-radius: 3vmin;
        background-color: #252525;
        color: white;
        box-shadow: 0 0px 10px 1px rgb(18, 18, 18);
    }

    a {
        text-decoration: none;
        color: rgb(142, 175, 221);
    }
}

/*  blog stuff */
.green-colour {
    color: rgb(64, 162, 64);
}

footer {
    margin: 5vmin 0;
}

img {
    max-width: 70%;
}

img.vert-img {
    max-width: 50%;
}

p.desc {
    font-size: calc(10px + 1vmin);
}

