@media only screen and (max-width: 600px) {
    .contact-button {
        font-size: calc(8px + 2vmin);
        color: rgb(0, 0, 0);
        border-radius: 100vmin;
        padding: 2vmin 5vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(166, 237, 252);
        margin: 2vmin 0 20vmin;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }

    .contact-input-box,
    .contact-input-field {
        width: 100%;
        font-size: calc(8px + 1.8vmin);
        color: rgb(0, 0, 0);
        border-radius: 2vmin;
        padding: 2vmin 5vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(241, 241, 241);
        margin: 0 0 2vmin;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        box-shadow: 0 0px 10px 1px rgb(211, 211, 211);
    }

    .contact-card-text {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        margin: 3vmin 0 1vmin;
        text-align: left;
        color: rgb(0, 0, 0);
        font-size: calc(8px + 2.5vmin);
    }

    .content-container-center {
        margin: 0 auto;
        width: 50vmin;
        min-width: 300px;
        max-width: 500px;
    }

    .send-button-icon {
        margin: auto 1vmin auto auto;
    }

    textarea {
        height: calc(10px + 40vmin);
    }

    p.message-return {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        font-size: calc(8px + 2.5vmin);
        margin-bottom: 20vmin;
    }
}

@media only screen and (min-width: 600px) {
    .contact-button {
        font-size: calc(8px + 1.2vmin);
        color: rgb(0, 0, 0);
        border-radius: 100vmin;
        padding: 1vmin 2.5vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(166, 237, 252);
        margin: 2vmin 0 4vmin;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }

    .contact-button:hover {
        color: rgb(13, 37, 58);
        background-color: rgb(150, 220, 230);
    }

    .contact-input-box,
    .contact-input-field {
        width: 100%;
        margin: 0 0 2vmin;
        font-size: calc(8px + 1.2vmin);
        color: rgb(0, 0, 0);
        border-radius: 2vmin;
        padding: 1vmin 2.5vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(241, 241, 241);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        box-shadow: 0 0px 10px 1px rgb(211, 211, 211);
    }

    .contact-card-text {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        margin: 0 0 1vmin;
        text-align: left;
        color: rgb(0, 0, 0);
    }

    .content-container-center {
        margin: 0 auto;
        width: 50vmin;
        min-width: 400px;
        max-width: 600px;
    }

    .send-button-icon {
        margin: auto 1vmin auto auto;
    }
    textarea {
        height: calc(10px + 20vmin);
    }

    p.message-return {
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        font-size: calc(8px + 1.2vmin);
        margin-bottom: 10vmin;
    }
}

input:focus {
    outline-color: rgb(103, 138, 151);
}

textarea:focus {
    outline-color: rgb(103, 138, 151);
}

contact-button:disabled {
    color: rgb(13, 37, 58);
    background-color: rgb(150, 220, 230);
}
