.App {
    text-align: center;
}

.App-logo {
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .App-header {
        background-color: rgb(255, 255, 255);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: black;
        padding: 0;
    }
    
    ul.social-cons {
        list-style-type: none;
        padding-left: 0;
        margin: 0 0 6vmin;
    }
    ul > li {
        list-style-type: none;
        display: inline-block;
        margin: 0 3vmin;
        text-align: center;
        color: black;
        font-size: calc(10px + 2vmin);
        padding: 0;
    }
    
    a {
        color: black;
    }
    
    a:visited {
        color: black;
    }
    
    p {
        font-size: calc(10px + 1vmin);
        margin: 0 3vmin;
    }
    
    p.website-intro-top {
        font-size: calc(10px + 1.9vmin);
        margin: 0 3vmin 10vmin;
        color: rgb(80, 80, 80);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }
    
    .resume {
        margin-top: 6vmin;
    }
    
    a.csText {
        color: rgb(7, 88, 143);
    }
    
    a.csText:visited {
        color: rgb(7, 88, 143);
    }
    
    a.schoolText {
        color: rgb(163, 38, 163);
    }
    
    a.schoolText:visited {
        color: rgb(163, 38, 163);
    }
    
    .dundee-name {
        font-size: calc(10px + 4vmin);
        margin: 3vmin 0;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
        font-style: normal;
        color: rgb(18, 100, 112);
    }
    
    .profile-picture {
        width: 100vmin;
        height: fit-content;
        pointer-events: none;
        margin: 2.5vmin 0 7vmin;
        padding: 0;
        overflow: hidden;
    }
    
    .resume-button {
        color: rgb(36, 46, 51);
        border-radius: 100vmin;
        padding: 2vmin 5vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(166, 237, 252);
        margin: 0;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
        font-size: calc(10px + 1.9vmin);
    }
    
    .circle-div {
        background-color: rgb(241, 241, 241);
        border-radius: 100%;
        width: calc(10px + 10vmin);
        height: calc(10px + 10vmin);
    
        position: relative;
        text-align: center;
    }
    
    .intro-icons {
        font-size: calc(10px + 2.5vmin);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .external-icon {
        margin: auto 2vmin auto auto;
        font-size: calc(10px + 1.5vmin);
    }
}

@media only screen and (min-width: 600px) {
    .App-header {
        background-color: rgb(255, 255, 255);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 1vmin);
        color: black;
        padding: 0;
    }
    
    ul.social-cons {
        list-style-type: none;
        padding-left: 0;
        margin: 0 0 3vmin;
    }
    ul > li {
        list-style-type: none;
        display: inline-block;
        margin: 0 3vmin;
        text-align: center;
        color: black;
        font-size: calc(10px + 2vmin);
        padding: 0;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a:visited {
        color: black;
    }
    
    p {
        font-size: calc(10px + 1vmin);
        margin: 0 3vmin;
    }
    
    p.website-intro-top {
        font-size: calc(10px + 1vmin);
        margin: 0 3vmin 3vmin;
        color: rgb(80, 80, 80);
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }
    
    .resume {
        margin-top: 6vmin;
    }
    
    a.csText {
        font-size: calc(10px + 1vmin);
        color: rgb(7, 88, 143);
    }
    
    a.csText:visited {
        color: rgb(7, 88, 143);
    }
    
    a.schoolText {
        font-size: calc(10px + 1vmin);
        color: rgb(163, 38, 163);
    }
    
    a.schoolText:visited {
        color: rgb(163, 38, 163);
    }
    
    .dundee-name {
        font-size: calc(10px + 2.5vmin);
        margin: 3vmin 0;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
        font-style: normal;
        color: rgb(18, 100, 112);
    }
    
    .profile-picture {
        width: 70vmin;
        height: fit-content;
        pointer-events: none;
        margin: 2.5vmin 0 1.5vmin;
        padding: 0;
        overflow: hidden;
    }
    
    .resume-button {
        color: rgb(36, 46, 51);
        border-radius: 100vmin;
        padding: 1vmin 2.5vmin;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgb(166, 237, 252);
        margin: 0;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-style: normal;
    }
    
    .resume-button:hover {
        color: rgb(13, 37, 58);
        background-color: rgb(150, 220, 230);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        transform: scale(1.08);
    }
    
    .circle-div {
        background-color: rgb(241, 241, 241);
        border-radius: 100%;
        width: calc(10px + 4.5vmin);
        height: calc(10px + 4.5vmin);
    
        position: relative;
        text-align: center;
    }
    
    .circle-div:hover {
        background-color: rgb(212, 250, 255);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        transform: scale(1.1);
    }
    
    .intro-icons {
        font-size: calc(10px + 1.2vmin);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .external-icon {
        margin: auto 1vmin auto auto;
    }
}