html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
}

html {
    height: 100%;
    background-color: rgb(53, 53, 53);
}

a.nav-selected {
    color:rgb(212, 154, 154);
}



div.navontop {
    position: fixed;
    width: 100%;
    z-index: 100;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li a.stylelinks {
    display: block;
    color: rgb(202, 202, 202);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    height: 100%;
    color: white;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    text-align: center;
}

footer {
    background-color:transparent;
    height: 20px;
    color: white;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
}

ul.footerlinks {
    font-size: 10px;
    list-style-type: none;
    display:flex;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

li.footerlinks {
    list-style: none;
    padding: 5px;
    display: inline-block;
}

li a.footerlinks {
    color: rgb(83, 83, 83);
    padding-top: 8px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    font-family: 'Space Mono', monospace;

}

li a.footerlinks:hover {
    color: rgb(177, 96, 96);
}
