
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 4vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}



ul {
  list-style-type: none;
}
ul > li {
  display: inline-block;
  margin: 0 6vmin 0 0;
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

a {
  color: white;
}

a:visited {
  color: white;
}

p {
  font-size: calc(10px + 1vmin);
  margin: 0 3vmin 1.5vmin 3vmin;
}

.resume {
  margin-top: 6vmin;
}

a.csText {
  font-size: calc(10px + 1vmin);
  color: greenyellow;
}

a.csText:visited {
  color: greenyellow;
}

a.schoolText {
  font-size: calc(10px + 1vmin);
  color: rgb(250, 143, 250);
}

a.schoolText:visited {
  color: rgb(250, 143, 250);
}