.table-of-content-text,
.table-of-content-text:visited {
    color: rgb(18, 100, 112);
}

.table-of-content-text:hover {
    color: rgb(8, 45, 51);
}

@media only screen and (max-width: 1000px) {
    .navlist {
        display: none;
    }
    .mobile-nav {
        z-index: 999;
        position: fixed;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        top: 30px;
        overflow: hidden;
        background-color: rgb(166, 237, 252);
    }

    .center-list {
        margin: auto;
        width: fit-content;
    }

    .mobile-nav a {
        float: left;
        display: block;
        text-align: center;
        margin: 20px 14px;
        text-decoration: none;
        font-size: calc(10px + 1.5vmin);
    }

    a {
        text-decoration: none;
    }
}
@media only screen and (min-width: 1000px) {
    .mobile-nav {
        display: none;
    }
    .table-of-content-wrapper {
        position: fixed;
        margin: 5vmin 3vmin;
        list-style-type: none;
        text-align: left;
        z-index: 999;
        font-weight: bold;
    }

    ul.table-of-content {
        margin: 0.5vh;
    }

    .table-of-content-text:hover {
        color: rgb(104, 104, 104);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        transform: scale(1.2);
    }

    .nav-span {
        background: radial-gradient(
            circle at 100%,
            rgb(116, 116, 116),
            rgb(34, 34, 34),
            rgb(34, 34, 34),
            rgb(34, 34, 34),
            rgb(116, 116, 116)
        );
        font-weight: 600;
        background-size: 200% auto;
        color: #000;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animatedTextGradient 6s linear infinite;
    }

    .nav-span:hover {
        background: rgb(104, 104, 104);
        background-clip: text;
    }

    @keyframes animatedTextGradient {
        to {
            background-position: 200% center;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .mobile-nav {
        background-color: rgb(8, 8, 8);
    }
    .table-of-content-text,
    .table-of-content-text:visited {
        color: rgb(187, 187, 187);
    }

    .table-of-content-text:hover {
        color: rgb(255, 255, 255);
    }

    .nav-span {
        background: radial-gradient(
            circle at 100%,
            rgb(231, 231, 231),
            rgb(187, 187, 187),
            rgb(187, 187, 187),
            rgb(187, 187, 187),
            rgb(231, 231, 231)
        );
        font-weight: 600;
        background-size: 200% auto;
        color: rgb(187, 187, 187);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animatedTextGradient 6s linear infinite;
    }

    .nav-span:hover {
        background: white;
        background-clip: text;
    }

    @keyframes animatedTextGradient {
        to {
            background-position: 200% center;
        }
    }
}
