.App-content {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

h2 {
    margin: 4vmin;
}

a {
    color: rgb(67, 141, 206);
    text-decoration: none;
    font-size: calc(5px + 2vmin);
}
a:visited {
    color: rgb(67, 141, 206);
}


