html {
    background-color: rgb(34, 34, 34);
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

.nav-selected {
    color:rgb(213, 245, 255);
}

div.navontop {
    position: fixed;
    width: 100%;
    z-index: 240;
}

div.navontopAbout {
    position: fixed;
    width: 100%;
    z-index: 240;
    background-color: rgb(34, 34, 34);
    
}

.chapters {
    display: flex;
    justify-content: space-between;
    background-color: transparent;

}

div.small-chapter {
    display: none;
}

div.chapter-links {
    position: fixed;
    z-index: 101;
    padding-top: 15%;
    padding-left: 5%;
}

.chapter-links {
    width: auto;
    height: 100%;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-left: 7px;
    overflow: hidden;
    background-color: transparent;
}

.chapter-links ul li {
    padding-right: 0px;
    list-style-type: disc;
    text-decoration: none;
    float: none;
}

.chapter-links ul li a {
    display: block;
    color: rgb(236, 236, 236);
    text-align: left;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.chapter-links ul li a:hover {
    color: rgb(255, 129, 129);
}

ul.chapter-stuff {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;  
}

.navbar li {
    padding-right: 15px;
    float: right;  
}

li.navright {
    padding-right: 15px;
    float: left;  
}

li a {
    display: block;
    color: rgb(202, 202, 202);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

li a:hover {
    color: white;
}

.aboutme-overview {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 25px;
}

h1.Sub-about {
    padding-top: 10%;
    font-size: 5vmin;
    letter-spacing: 0.03em;
}

.Sub-about {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 25px;
    letter-spacing: 0.03em;
}

.AboutMeClass {
    padding-top: 100px;
    font-size: 5.5vmin;
    letter-spacing: 0.03em;
}

a {
    letter-spacing: 0.03em;
    color: rgb(255, 255, 255);
}

a:hover {
        color: rgb(255, 129, 129);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: auto;
    background-color: white;
    border-radius: 100px;
    z-index: 101;
    color: transparent;
    text-decoration: none;
}

@media (max-width: 1050px) {
    .chapters {
        display: none;
    }
    div.small-chapter {
        display: block;
        padding-left: 25%;
        padding-right: 25%;
    }
    div.small-chapter ul {
        list-style-type: none;
    }
    div.small-chapter ul li a {
        padding: 10px;
    }
    div.small-chapter ul li a:hover {
        color:rgb(197, 93, 93)
    }
}