html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    height: 100%;
    background-color: rgb(22, 35, 46);
}

div.navontop {
    position: fixed;
    width: 100%;
    z-index: 100;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    padding-right: 15px;
    float: right;
}

li.navright {
    padding-right: 15px;
    float: left;
}

li a {
    display: block;
    color: rgb(202, 202, 202);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
}

body {
    height: 100%;
    color: white;
}

footer {
    background-color:rgb(20, 47, 58);
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 26px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    text-align: center;
}

ul.socialcons {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    display: table;
    margin: 0 auto;
}

img.socialcons {
    width: 6vw;
    height: 6vw;
    object-fit: contain;

}

div.Links {
    background-color:rgb(4, 13, 19);
    height: 500px;
    background-size: cover;
    letter-spacing: 0.1em;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2.7vmin;
}

img.socialcons:hover {
    -webkit-filter: brightness(70%);
}

a.emaillink {
    color: white;
    font-size: 2vw;
    text-decoration: none;
}

a.emaillink:hover {
    color: rgb(219, 219, 219);
}
