html body {
    background-color: rgb(35, 48, 63);
    overflow: hidden;
    color: white;
}

.name {
    background-color: rgb(35, 48, 63);
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
    font-size: 3.8vmax;
    margin-left: 3vmax;
}

.cover-page {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

.profile-picture {
    background-color: rgb(35, 48, 63);
    width: 30vmax;
}

.see-more {
    font-size: 1vmax;
    color:rgb(212, 212, 212);
}

#introduction {
    text-align: center;
}

.who-am-i {
    background-color: rgb(48, 66, 87);
    padding: 10px;
    border-radius: 10px;
}

p {
    font-size: larger;
}

#contact {
    text-align: center;
}

.navlist {
    font-size: 2vmax;
    margin-top: 4vw;
    margin-left: 4vw;
    position: fixed;
    display: block;
}

.links {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.link-one:hover {
    color: #c5c5c5;
}

.link-two:hover {
    color: #c5c5c5;
}